{{# partial "content" }}
  <div class="dim-wrapper">
    <div class="ajax-loading"></div>
  </div>

  {{> search/searchTab}}

  <div id="sub-content" >
    {{> search/searchResult}}
  </div>

{{/partial}}

{{# partial "page-script" }}
  <script src="/js/app/search/search.js"></script>
{{/partial}}

{{>layout}}
