{{# partial "content" }}
  {{> search/searchTab}}
  <div id="searchResult" >
    {{> search/searchResult}}
  </div>

{{/partial}}

{{# partial "page-script" }}
  <script src="/js/app/search/search.js"></script>
{{/partial}}

{{>layout}}
