<div class="panel panel-primary" style="padding: 1px">
  <div class="panel-heading">
    <h2 class="panel-title">Campaign List</h2>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-strong">
    <th>title</th>
    </thead>
    <tbody>
    {{#each bookSearchResult.documents}}
      <tr>
        <td class="text-center">>{{this.title}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

