{{# partial "content" }}

  <div class="main">
    <h2 class="main-header">sign in</h2>

    <form class="login-container" >

      <a href="/signin"> sign in</a>
      <a href="/signup"> sign up </a>

    </form>

  </div>
{{/partial}}

{{>layout}}