{{# partial "content" }}

  <div class="main">
    <h2 class="main-header">로그인 후 이용 가능 합니다.</h2>

    <div class="dim-wrapper">
      <div class="ajax-loading"></div>
    </div>

    <form class="login-container" >

      <a href="/signin"> sign in</a>
      <a href="/signup"> sign up </a>

    </form>

  </div>
{{/partial}}

{{>layout}}